body {
	background: #2E2E2E;
		
		
}

.container {
	max-width:600px;
}



header {
	background-color: #7d5bbe ;

	/*font-family: 'Press Start 2P', cursive;*/
	/*font-family: 'Karla', sans-serif;*/
	font-family: 'Poiret One', cursive;
	/*font-family: 'Coda', cursive;*/
	color: #fff;
	/*margin-top:25px;*/
	margin-top:20px;
	/*border-bottom: 1px solid #6f49b6 ;*/
}

nav {
	background: #6441a5;
	font-size:20px;
	text-align:center;
	color:white;
	/*border-top: 1px solid #8c6dc5;*/
	/*border-bottom: 1px solid #8c6dc5;*/
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size:15px;
		
}

.row {
	margin:0px;
}

main {
	font-family: 'Open Sans', sans-serif;
	color: #433e51;
}

.status-div {
	padding-top:10px;
	padding-bottom:10px;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(36, 33, 43, 0.5);
		transition: all 0.2s ease;
}

.status-div:hover {
	background-color: rgba(255, 238, 118, 0.4);
}

.status-div:active {
	background-color: rgba(255, 238, 118, 0.6);
}

.active {
	background-color: rgba(255, 238, 118, 0.7);
}

.active:hover {
	background-color: rgba(255, 238, 118, 0.7);
}

.online-div {
	border-right: 1px solid #8c6dc5;
	border-left: 1px solid #8c6dc5;
}

h1 {
	font-size:80px;
	/*text-transform:uppercase;*/
	text-align:center;
	padding-top:25px;
	padding-bottom:25px;
	margin:0;
	text-shadow: 1px 1px 5px rgba(36, 33, 43, 1);
	/*color: #FFF3A1;*/
}

.channel {
	padding:0px;
	/*transition: all 5.5s ease;*/
}

.channel-inner {
	background: #ecf0f1;
	border-bottom:1px solid #d3dcde;
	border-top: 1px solid #f8fafa;
}

span {
	font-size:13px;
}

.online-bg {
	background-color: rgba(53, 160, 128, 0.05)
	
}

.online-icon {
	color: rgba(26, 147, 110, 1);
	text-shadow: 0px 0px 7px rgba(53, 160, 128, 1);
	
}



.offline-bg {
	background-color: rgba(238, 78, 86, 0.05);
}

.offline-icon {
	color: rgba(219, 39, 48, 1);
	text-shadow: 0px 0px 7px rgba(238, 78, 86, 1);
	
}

.icon {
	position:absolute;
	font-size:20px;
	right:50px;
	top:36px;
	opacity:0.6;
}

.info-container {
	position:relative;
}

img {
	height:85px;
	width:85px;
	border-radius: 50%;
	padding:10px;
	align:middle;
	/*margin-left:5px;*/

	
}

h3 {
	margin-top:25px;
	margin-bottom:2px;
	margin-left:0px;
}